# Servidor
NODE_ENV=development
PORT=3000

# Base de datos MSSQL
DB_HOST=127.0.0.1
DB_PORT=1433
DB_NAME=pos_inventario
DB_USER=sa
DB_PASSWORD=

# JWT
JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=
JWT_ACCESS_EXPIRES=15m
JWT_REFRESH_EXPIRES=7d

# CORS (URL del frontend)
CORS_ORIGIN=http://localhost:5173
